# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
.env/

#Ignore the calendar.ics file:
calendar.ics

#Ignore the db just keep it local
calendarApp.db